#!/bin/sh

if [[ ! -f /export/private/intermediate.key ]]; then
  echo "You need to have the intermediate's RSA key in /export/private/intermediate.key"
  exit 1
fi

if [[ ! -f /export/certs/intermediate.crt ]]; then
  echo "You need to have the intermediate's public certificate in /export/private/intermediate.crt"
  exit 1
fi

cat /ssl/openssl.cnf

mkdir -p /ssl/certs /ssl/crl /ssl/newcerts /ssl/private /ssl/csr /ssl/newcerts
chmod 700 /ssl/private
touch /ssl/index.txt
echo 1000 > /ssl/serial
echo 1000 > /ssl/crlnumber

echo $COMMON_NAME

# Create a server certificate key and certificate signing request
echo "openssl req -nodes -newkey rsa:2048 -keyout /export/private/{{ getenv "SERVER_NAME" }}.key -out /ssl/csr/{{ getenv "SERVER_NAME" }}.csr -subj \"{{ getenv "SERVER_SUBJECT" }}\""
openssl req -nodes -newkey rsa:2048 -keyout /export/private/{{ getenv "SERVER_NAME" }}.key -out /ssl/csr/{{ getenv "SERVER_NAME" }}.csr -subj "{{ getenv "SERVER_SUBJECT" }}"
#openssl req -config /ssl/openssl.cnf -nodes -newkey rsa:2048 -keyout /export/private/{{ getenv "SERVER_NAME" }}.key -out /ssl/csr/{{ getenv "SERVER_NAME" }}.csr -subj "{{ getenv "SERVER_SUBJECT" }}"
# openssl req -nodes -newkey rsa:2048 -keyout /export/private/{{ getenv "SERVER_NAME" }}.key -out /ssl/csr/{{ getenv "SERVER_NAME" }}.csr
chmod 400 /export/private/{{ getenv "SERVER_NAME" }}.key
echo "finished create csr"

# Sign the certificate
openssl ca -batch -config /ssl/openssl.cnf \
  -extensions server_cert -days {{ getenv "SERVER_CERT_EXPIRATION_DAYS" }} -notext -md sha256 \
  -keyfile /export/private/intermediate.key \
  -key {{ getenv "INTERMEDIATE_KEY_PASSWORD" }} \
  -cert /export/certs/intermediate.crt \
  -in /ssl/csr/{{ getenv "SERVER_NAME" }}.csr \
  -out /export/certs/{{ getenv "SERVER_NAME" }}.crt

chmod 444 /export/certs/{{ getenv "SERVER_NAME" }}.crt
