#!/bin/sh

mkdir -p /certs /crl /newcerts /private /csr
chmod 700 /private
touch /index.txt
echo 1000 > /serial
echo 1000 > /crlnumber

# Create our key
openssl genrsa -aes256 \
  -out /private/intermediate.key -passout pass:{{ getenv "INTERMEDIATE_KEY_PASSWORD" }} 4096

# Fix permissions
chmod 400 /private/intermediate.key

# Copy to our /export directory
cp /private/intermediate.key /export/private/

# Create a certificate signing request
openssl req -config /intermediate.cnf -new -sha256 \
  -key /private/intermediate.key \
  -out /csr/intermediate.csr \
  -subj "{{ getenv "INTERMEDIATE_SUBJECT" }}" \
  -passin pass:{{ getenv "INTERMEDIATE_KEY_PASSWORD" }}

# Sign the CSR
openssl ca -batch -config /root.cnf -extensions v3_intermediate_ca \
  -days {{ getenv "INTERMEDIATE_CERT_EXPIRATION_DAYS" }} -notext -md sha256 \
  -in /csr/intermediate.csr \
  -out /certs/intermediate.crt \
  -passin pass:{{ getenv "ROOT_KEY_PASSWORD" }}

# Fix permissions
chmod 444 /certs/intermediate.crt

# Copy to our /export folder
cp /certs/intermediate.crt /export/certs/

# Create the chained certificate file
cat /certs/root.crt \
      /certs/intermediate.crt > /certs/ca-chain.crt

# Fix permssions
chmod 444 /certs/ca-chain.crt

# Copy to our export directory
cp /certs/ca-chain.crt /export/certs/ca-chain.crt
