#!/bin/sh

mkdir -p /ssl/certs /ssl/crl /ssl/newcerts /ssl/private /export/private /export/certs
chmod 700 /ssl/private
touch /ssl/index.txt

# I'm not sure why this is needed
# locally this is working, but during testing with TravisCI, the image is complaining
# that this file does not exist. Since this file simply
# needs to be touched, I'm simply touching it for the time being until I find a solution
touch /ssl/index.txt.attr
echo 1000 > /ssl/serial

# generate rsa key
openssl genrsa -aes256 -out /export/private/root.key -passout pass:{{ getenv "ROOT_KEY_PASSWORD" }} 4096

# fix permissions
chmod 400 /export/private/root.key

# generate x509 public certificate
openssl req -config /ssl/openssl.cnf \
  -key /export/private/root.key \
  -new -x509 -days {{ getenv "ROOT_CERT_EXPIRATION_DAYS" }} -sha256 -extensions v3_ca \
  -out /export/certs/root.crt \
  -subj "{{ getenv "ROOT_SUBJECT" }}" \
  -passin pass:{{ getenv "ROOT_KEY_PASSWORD" }}
