[ ca ]
default_ca = CA_default

[ crl_ext ]
authorityKeyIdentifier=keyid

[ CA_default ]
# directories
dir = /
certs = $dir/certs
crl_dir = $dir/crl
new_certs_dir = $dir/newcerts
database = $dir/index.txt
serial = $dir/serial

# root key and certificate
private_key = $dir/private/root.key
certificate = $dir/certs/root.crt

# CRL
crlnumber = $dir/crlnumber
crl = $dir/crl/ca.crl
crl_extentions = crl_ext
default_crl_days = {{ getenv "DEFAULT_CRL_DAYS" }}

# Days
default_days = {{ getenv "DEFAULT_DAYS" }}

# Allow issueing a certificate with the same common name
# This can be useful in the case that a certificate needs to be
# renewed
unique_subject = no
default_md = sha256

policy = policy_strict

[ policy_strict ]
commonName = supplied
stateOrProvinceName = match
organizationName = match
countryName = match
emailAddress = optional
localityName = optional
organizationalUnitName = optional

[ policy_loose ]
commonName = supplied
stateOrProvinceName = optional
organizationName = optional
localityName = optional
countryName = optional
emailAddress = optional
organizationalUnitName = optional

[ req ]
# Options for the `req` tool (`man req`).
default_bits        = 2048
distinguished_name  = req_distinguished_name
string_mask         = utf8only

default_md          = sha256

# Extension to add when the -x509 option is used.
x509_extensions     = v3_ca

[ req_distinguished_name ]
# See <https://en.wikipedia.org/wiki/Certificate_signing_request>.
countryName                     = Country Name (2 letter code)
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name
commonName                      = Common Name
emailAddress                    = Email Address

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:1
keyUsage = critical, digitalSignature, cRLSign, keyCertSign
{{ if getenv "CRL_DISTRIBUTION_POINTS" }}
crlDistributionPoints = URI:{{ getenv "CRL_DISTRIBUTION_POINTS" }}/root.crl
{{ end }}

[ v3_intermediate_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, digitalSignature, cRLSign, keyCertSign

[ usr_cert ]
# Extensions for client certificates (`man x509v3_config`).
basicConstraints = CA:FALSE
nsCertType = client, email
nsComment = "OpenSSL Generated Client Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = clientAuth, emailProtection

[ server_cert ]
# Extensions for server certificates (`man x509v3_config`).
basicConstraints = CA:FALSE
nsCertType = server
nsComment = "OpenSSL Generated Server Certificate"
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer:always
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ crl_ext ]
# Extension for CRLs (`man x509v3_config`).
authorityKeyIdentifier=keyid:always

[ ocsp ]
# Extension for OCSP signing certificates (`man ocsp`).
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, OCSPSigning


