#!/bin/sh

mkdir -p ca/certs ca/crl ca/newcerts ca/private
chmod 700 ca/private
touch ca/index.txt
echo 1000 > ca/serial

openssl genrsa -aes256 -out ca/private/ca.key -passout pass:{{ getenv "ROOT_KEY_PASSWORD" }} 4096
chmod 400 ca/private/ca.key
openssl req -config config/root.cnf \
  -key ca/private/ca.key \
  -new -x509 -days {{ getenv "ROOT_CERT_EXPIRATION_DAYS" }} -sha256 -extensions v3_ca \
  -out ca/certs/ca.crt \
  -subj "{{ getenv "ROOT_SUBJECT" }}" \
  -passin pass:{{ getenv "ROOT_KEY_PASSWORD" }}

mkdir -p intermediate/certs intermediate/crl intermediate/csr intermediate/newcerts intermediate/private
chmod 700 intermediate/private
touch intermediate/index.txt
echo 1000 > intermediate/serial
echo 1000 > intermediate/crlnumber

openssl genrsa -aes256 \
  -out intermediate/private/intermediate.key -passout pass:{{ getenv "INTERMEDIATE_KEY_PASSWORD" }} 4096

chmod 400 intermediate/private/intermediate.key

openssl req -config config/intermediate.cnf -new -sha256 \
  -key intermediate/private/intermediate.key \
  -out intermediate/csr/intermediate.csr \
  -subj "{{ getenv "INTERMEDIATE_SUBJECT" }}" \
  -passin pass:{{ getenv "INTERMEDIATE_KEY_PASSWORD" }}

# Sign the CSR
openssl ca -batch -config config/root.cnf -extensions v3_intermediate_ca \
  -days {{ getenv "INTERMEDIATE_CERT_EXPIRATION_DAYS" }} -notext -md sha256 \
  -in intermediate/csr/intermediate.csr \
  -out intermediate/certs/intermediate.crt \
  -passin pass:{{ getenv "ROOT_KEY_PASSWORD" }}

chmod 444 intermediate/certs/intermediate.crt

# Create the chained certificate file
cat ca/certs/ca.crt \
      intermediate/certs/intermediate.crt > intermediate/certs/ca-chain.crt
chmod 444 intermediate/certs/ca-chain.crt

# Create a server certificate key and certificate signing request
openssl req -nodes -newkey rsa:2048 -keyout intermediate/private/{{ getenv "SERVER_NAME" }}.key -out intermediate/csr/{{ getenv "SERVER_NAME" }}.csr -subj "{{ getenv "SERVER_SUBJECT" }}"
chmod 400 intermediate/private/{{ getenv "SERVER_NAME" }}.key

# Sign the certificate
openssl ca -batch -config config/intermediate.cnf \
  -extensions server_cert -days {{ getenv "SERVER_CERT_EXPIRATION_DAYS" }} -notext -md sha256 \
  -in intermediate/csr/{{ getenv "SERVER_NAME" }}.csr \
  -out intermediate/certs/{{ getenv "SERVER_NAME" }}.crt \
  -passin pass:{{ getenv "INTERMEDIATE_KEY_PASSWORD" }}
chmod 444 intermediate/certs/{{ getenv "SERVER_NAME" }}.crt

# Create certificate revocation list
openssl ca -batch -config config/intermediate.cnf \
  -gencrl -out intermediate/crl/intermediate.crl \
  -passin pass:{{ getenv "INTERMEDIATE_KEY_PASSWORD" }}

cp -ar intermediate /export/
cp -ar ca /export/
rm -f /export/ca/index.txt.attr /export/ca/*.old
